@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.app {
  display: flex;

  .preview {
    flex: 0 0 50%;
    position: relative;

    .template {
      position: relative;

      .layer {
        &-text {
          position: absolute;
          width: 100%;
          height: 100%;

          > * {
            position: absolute;
            white-space: pre;
          }
        }
        &-elements {
          img {
            &:nth-child(2) {
              position: absolute;
              top: 60px;
              left: 60px;
              max-width: 150px;
            }
          }
        }
      }
    }
  }
  .editor {
    flex: 0 0 50%;
  }
}
